.card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 10px;
  max-width: 160px;
  position: relative;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card__content {
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  justify-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 160px;
  height: 220px;
}

.card__title {
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.card__action {
  flex-grow: 1;
  display: flex;
  align-self: center;
  justify-items: center;
  align-items: center;
}

.card__action-button {
  font-family: inherit;
  background-color: color;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  border-radius: 999px;
  outline: none;
  text-align: center;
  padding: 0;
}

.card__action-button:disabled {
  background-color: black;
  border-color: white;
  pointer-events: none;
  opacity: 0.7;
}

.card__action-button:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.badge {
  background-color: #ffe270;
  top: -10px;
  position: absolute;
  border-radius: 2px;
  color: hsla(0, 0%, 4%, 0.6);
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.25em 0.5em;
  padding-top: calc(0.25em + 1px);
  vertical-align: middle;
  position: absolute;
  left: -20px;
  text-transform: lowercase;
  font-weight: bold;
}
