.livesearch {
  display: flex;
  width: 100%;
  position: fixed;
}

.livesearch__container {
  display: flex;
  background: #fff;
  border: solid 1px white;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  height: 39px;
  width: 490px;
  border-radius: 24px;
  height: 44px;
  margin: 20px auto;
  align-items: center;
}

.livesearch__container:hover {
  border: solid 1px gold;
}

.livesearch__container input {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 50px;
  border: 0px;
  outline: none;
  width: 80%;
}
