.login {
  height: 100vh;
  background-color: #8a9bae;
  display: grid;
  place-items: center;
  font-family: 'Cormorant Garamond', serif;
}

.login__container {
  padding: 30px;
  width: 420px;
  height: auto;
  text-align: center;
  background-color: white;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.login__container > input {
  width: 300px;
  height: 44px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding-left: 40px;
  margin: 10px 20px;
}

.login__container > input:focus {
  border: 1px solid #55b1df;
}

.login__container > button {
  outline: none;
  font-family: inherit;
  font-size: 22px;
  border-radius: 19px;
  background-clip: padding-box;
  background-color: #55b1df;
  border: 1px solid #55b1df;
  color: #fff;
  font-weight: bold;
  height: 40px;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.login__container > button:hover {
  background-color: #fff;
  border: 1px solid #55b1df;
  color: #55b1df;
  cursor: pointer;
}

.login__options {
  cursor: pointer;
}
