.nomination {
  margin-top: 30px;
  font-family: 'Cormorant Garamond', serif;
  flex-grow: 1;
}

.nomination__container {
  margin: 20px;
}

.nomination h3 {
  font-size: 18px;
  text-align: center;
}

.nomination ul {
  padding: 0px;
}
