.socialbar {
  font-size: 30px;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
}

.socialbar > div {
  padding: 5px;
}

.socialbar a {
  color: black;
  text-decoration: none;
}
