.viewnominations {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.viewnominations__container {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 500px;
  margin: 0 auto;
}
