.app__layout {
  display: flex;
}

.app__layout-left {
  width: 30vw;
  height: 100vh;
}

.app__layout-right {
  width: 70vw;
  height: 100vh;
  overflow: scroll;
  background-color: rgba(49, 52, 82, 0.6)
}