.app__layout {
  display: flex;
}

.app__layout-right {
  background-color: #313453;
  width: 30vw;
  height: 100vh;
}

.app__layout-left {
  width: 70vw;
  height: 100vh;
  overflow: scroll;
  background-color: #fcf3e4;
}
